LOGIN=#insert here your login name
DOMAIN_NAME=<login>.42.fr

DB_USER=#insert here the user name for mariadb
WP_USER_USER=#insert here the user name for wordpress
WP_ADMIN_USER=#insert here the admin name for wordpress